select {
  display: block;
  width: 7rem;
  padding: 0.4rem;
  font-size: 1.8rem;
  color: inherit;
  background: transparent;
  border-radius: 0.3rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}
