footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.info-toggle-btn {
  position: absolute;
  z-index: 20;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1.2rem;
  font-size: 2rem;
  font-family: 'Satisfy', cursive;
  font-weight: 700;
  color: #c0c0c0;
  background: transparent;
  border: 2px solid #c0c0c0;
  border-radius: 5px;
  outline: none;
  transition: transform 0.3s ease-in;
}

.info-toggle-btn:hover {
  transform: scale(1.1);
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1rem;
  background: #061a21;
}

.keys {
  flex-wrap: wrap;
  column-gap: 1rem;
}

.keys p {
  margin: 0;
  padding-bottom: 0.5rem;
}

.keys__descr {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 0.1rem;
}

.info > div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
  color: #c0c0c0;
}

.footer__links a {
  color: #c0c0c0;
  height: 1.8rem;
}

.footer__links .link__img {
  width: 5rem;
}
