h1 {
  margin: 0;
  text-align: center;
  font-family: 'Almendra', serif;
  font-size: 5rem;
  color: #c0c0c0;
}

.links-list {
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0.5rem auto 2rem;
}

.link {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.02em;
  color: #c0c0c0;
  text-decoration: none;
}
