.game {
  position: relative;
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 11rem);
  grid-gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.game__info {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #c0c0c0;
}

@media (max-width: 700px) {
  .game {
    width: 92vw;
    grid-template-columns: repeat(2, auto);
  }
}
