ul {
  list-style-type: none;
}

li {
  font-size: 1.8rem;
  padding: 0.3rem 2rem;
}

h3 {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2.4rem;
  color: #c0c0c0;
}

.statistics {
  height: 70vh;
  overflow-y: auto;
}

.table__header,
.table__line {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  color: #c0c0c0;
}

.table__header {
  background: #5c5c5c;
  border-radius: 8px;
}

.table__line {
  padding: 1rem 0 0.5rem;
  border-bottom: 2px solid #5c5c5c;
}

@media (max-width: 768px) {
  li {
    padding: 0.3rem 1rem;
  }
}
