.card {
  position: relative;
  height: 25rem;
  width: 16rem;
  border-radius: 12px;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched {
  animation: dance 0.5s linear 4 0.5s, fadeout 1s linear 3s forwards;
  pointer-events: none;
  user-select: none;
}

.card.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 500ms ease-in-out;
}

.card-front {
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transform: rotateY(180deg);
}

.card-front .scroll-name {
  position: absolute;
  bottom: 0.8rem;
  left: -2.2rem;
  height: 3.5rem;
  width: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2.2rem;
  font-size: 1.6rem;
  font-family: 'Satisfy', cursive;
  color: #615349;
  background-image: url(./name.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.card-front .scroll-name p {
  margin: 0;
}

.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #071a3b;
}

.cobweb {
  position: absolute;
  width: 4rem;
  transition: width 100ms ease-in-out;
}

.card-back:hover .cobweb {
  width: 4.5rem;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(270deg);
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.owl {
  width: 8rem;
}

.broom {
  width: 9rem;
  transform: rotate(22deg);
}

.hat {
  width: 7rem;
}

.card-back:hover .broom {
  animation: ring 3s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(16deg);
  }
  2% {
    transform: rotate(46deg);
  }

  4% {
    transform: rotate(16deg);
  }

  8% {
    transform: rotate(15deg);
  }

  12% {
    transform: rotate(11deg);
  }

  16% {
    transform: rotate(56deg);
  }

  20% {
    transform: rotate(6deg);
  }

  24% {
    transform: rotate(15deg);
  }

  28% {
    transform: rotate(11deg);
  }

  32% {
    transform: rotate(46deg);
  }

  36% {
    transform: rotate(16deg);
  }

  40% {
    transform: rotate(22deg);
  }
}

@keyframes dance {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
